- comparisons = data.features.comparisons
.container.text-center
  :markdown
    This page compares GitLab to non-GitLab software. To compare different versions of GitLab with each-other see our [self hosting products](/products) and [GitLab.com SaaS plans](/gitlab-com).
%br
.container.dropdown.text-center
  .row#dropdown
    .col-md-12.dropdown-section
      .dropdown.level
        %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
          %span
            = comparison_block.title
          %i.fa.fa-chevron-down
        %ul.dropdown-menu
          - comparisons.keys.each do |comparison_key|
            %li
              - if (comparisons[comparison_key].link != nil)
                - link = "#{comparisons[comparison_key].link}#dropdown"
                = highlight_active_nav_link(comparisons[comparison_key].title, link)
%h1.titles-comparison-companies.text-center
  = comparison_block.title
- if (comparison_block.feature_page != "null")
  %h3.text-center
    = comparison_block.feature_page
    = link_to comparison_block.feature_page_link_description, comparison_block.feature_page_link
    = comparison_block.feature_page_link_description_2
%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        FEATURES
      %th.text-center
        - if (product_one.logo != "null")
          %img{ src: "#{product_one.logo}", alt: "#{product_one.name}", class: "logo" }
        - else
          = product_one.name
      %th.text-center.table-title-logo
        - if (product_two.logo != "null")
          %img{ src: "#{product_two.logo}", alt: "#{product_two.name}", class: "logo" }
        - else
          = product_two.name
  %tbody.header.first
    - data.features.features.each do |feature|
      - if (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
        %tr
          %td.feature-in-list
            %p.feature-in-list-title.feature-contents
              %strong= feature.title
              - if (feature.gitlab_eep == true)
                .badge-container
                  - if (feature.gitlab_ce == true)
                    %a{"title" => "GitLab Community Edition", "data-toggle" => "tooltip", "data-placement" => "top"}
                      %span{class: "ce"}<
                        CE
                  - if (feature.gitlab_ees == true)
                    %a{"title" => "GitLab Enterprise Edition Starter", "data-toggle" => "tooltip", "data-placement" => "top"}
                      %span{class: "ees"}<
                        EES
                  - if (feature.gitlab_eep == true)
                    %a{"title" => "GitLab Enterprise Edition Premium", "data-toggle" => "tooltip", "data-placement" => "top"}
                      %span{class: "eep"}<
                        EEP
                  - if (feature.gitlab_eeu == true)
                    %a{"title" => "GitLab Enterprise Edition Ultimate", "data-toggle" => "tooltip", "data-placement" => "top"}
                      %span{class: "eeu"}<
                        EEU
            %p
              = feature.description
            %p
              = link_to feature.link_description, feature.link
          %td.check-container.text-center
            - if (feature.public_send(key_one) == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_one) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_one) == false)
              = partial "includes/icons/comparison/no-icon.svg"
          %td.check-container.text-center
            - if (feature.public_send(key_two) == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_two) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_two) == false)
              = partial "includes/icons/comparison/no-icon.svg"

// Get the pdf name from the HTML link
- pdf_name = comparison_block.link.split('/').last.sub('html', 'pdf')

.last-updated-section
  %p.clearfix
    - if (comparison_block.pdf == true)
      = link_to "Download as PDF", "/comparison/pdfs/#{pdf_name}", class: "featured-item-button pull-right", download: "Comparison PDF", target: "_blank"
  %p
    Since GitLab fans wrote most of the text here there is a pro-GitLab bias. Nonetheless we try hard to ensure the
    comparisons are fair and factual. Please also add things that are great in other products but missing in GitLab.
    If you find something that is invalid, biased, missing, or out of date in the comparisons, please open a merge request
    for this website to correct it. As with all the pages on this website you can find where this page lives in the
    repository via the link in the footer. All names and logos are recognized trademarks of their respective owners.
